swagger: "2.0"
info:
  description: The HTTP API for EventStoreDB
  version: 24.2
  title: HTTP API
  contact:
    url: https://www.eventstore.com/contact
  license:
    name: BSD 3-Clause
    url: https://github.com/EventStore/EventStore/blob/master/LICENSE.md
host: eventstore.com
securityDefinitions:
  basicAuth:
    type: basic
schemes:
  - https
paths:
  "/admin/node/priority/{nodePriority}":
    post:
      description: Issues a command to change the priority of a node.
      summary: Change node priority
      tags:
        - Admin
      operationId: Change node priority
      parameters:
        - name: nodePriority
          in: path
          required: true
          type: integer
      responses:
        "200":
          description: OK
  /admin/node/resign:
    post:
      responses:
        "200":
          description: OK
  /admin/reloadconfig:
    post:
      responses:
        "200":
          description: OK
  /admin/shutdown:
    post:
      responses:
        "200":
          description: OK
  /admin/scavenge:
    post:
      responses:
        "200":
          description: OK
  "/admin/scavenge/{scavengeId}":
    delete:
      responses:
        "200":
          description: OK
  /admin/scavenge/current:
    get:
      responses:
        "200":
          description: OK
  /admin/scavenge/last:
    get:
      responses:
        "200":
          description: OK
  /admin/mergeindexes:
    post:
      responses:
        "200":
          description: OK
  /info:
    get:
      responses:
        "200":
          description: OK
  /info/options:
    get:
      responses:
        "200":
          description: OK
  /metrics:
    get:
      responses:
        "200":
          description: OK
  /ping:
    get:
      responses:
        "200":
          description: OK
  /sys/subsystems:
    get:
      responses:
        "200":
          description: OK
  /subscriptions:
    get:
      responses:
        "200":
          description: OK
    post:
      responses:
        "201":
          description: Created
  "/subscriptions/{stream}/{subscription}":
    post:
      responses:
        "200":
          description: OK
  /projections/any:
    get:
      responses:
        "200":
          description: OK
  /projections/all-non-transient:
    get:
      responses:
        "200":
          description: OK
  /projections/onetime:
    get:
      responses:
        "200":
          description: OK
    post:
      responses:
        "201":
          description: Created
  /projections/continuous:
    get:
      responses:
        "200":
          description: OK
    post:
      responses:
        "201":
          description: Created
  /projections/restart:
    post:
      responses:
        "200":
          description: OK
  /projections/transient:
    get:
      responses:
        "200":
          description: OK
    post:
      responses:
        "201":
          description: Created
  /projections/read-events:
    post:
      responses:
        "200":
          description: OK
  "/projection/{name}/query":
    get:
      responses:
        "200":
          description: OK
    put:
      responses:
        "200":
          description: OK
  "/projection/{name}/state":
    get:
      responses:
        "200":
          description: OK
  "/projection/{name}/result":
    get:
      responses:
        "200":
          description: OK
  "/projection/{name}/statistics":
    get:
      responses:
        "200":
          description: OK
  "/projection/{name}/command/disable":
    post:
      responses:
        "200":
          description: OK
  "/projection/{name}/command/enable":
    post:
      responses:
        "200":
          description: OK
  "/projection/{name}/command/reset":
    post:
      responses:
        "200":
          description: OK
  "/projection/{name}/command/abort":
    post:
      responses:
        "200":
          description: OK
  "/projection/{name}/config":
    get:
      responses:
        "200":
          description: OK
    put:
      responses:
        "200":
          description: OK
  "/projection/{name}":
    get:
      responses:
        "200":
          description: OK
    delete:
      responses:
        "200":
          description: OK
  /stats:
    get:
      responses:
        "200":
          description: OK
  "/stats/{statPath}":
    get:
      responses:
        "200":
          description: OK
  /gossip:
    get:
      responses:
        "200":
          description: OK
definitions:
  UserItem:
    type: object
    properties:
      LoginName:
        type: string
        description: The new users login name.
      FullName:
        type: string
        description: The full name for the new user.
      Groups:
        type: array
        items:
          type: string
        description: The groups the new user is a member of.
      Password:
        type: string
        description: The password for the new user.
    example:
      LoginName: admin
      FullName: EventStore Admin
      Groups:
        - Admin
        - DataScience
      Password: aVerySecurePassword
  UserUpdateItem:
    type: object
    properties:
      FullName:
        type: string
        description: The full name of the new user.
      Groups:
        type: array
        items:
          type: string
        description: The groups the new user should become a member of.
    example:
      FullName: EventStore Admin
      Groups:
        - Admin
        - DataScience
  PasswordResetItem:
    type: object
    properties:
      NewPassword:
        type: string
        description: The new password for the user.
    example:
      NewPassword: aNewSecurePassword
  PasswordChangeItem:
    type: object
    properties:
      CurrentPassword:
        type: string
        description: The current password for the user.
      NewPassword:
        type: string
        description: The new password for the user.
    example:
      CurrentPassword: anOldSecurePassword
      NewPassword: aNewSecurePassword
  ScavengeCurrentItem:
    type: object
    properties:
      ScavengeId:
        type: string
        description: The identifier of the current scavenge.
      ScavengeLink:
        type: string
        description: Link to current scavenge.
  ScavengeLastItem:
    type: object
    properties:
      ScavengeId:
        type: string
        description: The identifier of the last scavenge.
      ScavengeLink:
        type: string
        description: Link to last scavenge.
      ScavengeResult:
        description: The status of the last scavenge.
        type: string
        enum:
          - Success
          - InProgress
          - Stopped
          - Errored
          - Unknown
  SubscriptionItem:
    type: object
    properties:
      ResolveLinkTos:
        type: boolean
        description: Whether to resolve link events.
      startFrom:
        type: integer
        format: int64
        description: Which event position in the stream the subscription should start from.
      extraStatistics:
        type: boolean
        description: Whether to track latency statistics on this subscription.
      checkPointAfterMilliseconds:
        type: integer
        format: int64
        description: The amount of time to try to checkpoint after.
      liveBufferSize:
        type: integer
        format: int64
        description: >-
          The size of the buffer (in-memory) listening to live messages as they
          happen before paging occurs.
      readBatchSize:
        type: integer
        format: int64
        description: The number of events to read per batch when reading the history.
      bufferSize:
        type: integer
        format: int64
        description: The number of events to cache when paging through history.
      maxCheckPointCount:
        type: integer
        format: int64
        description: >-
          The maximum number of messages not checkpointed before forcing a
          checkpoint.
      maxRetryCount:
        type: integer
        format: int64
        description: >-
          The maximum number of retries (due to timeout) before a message is
          considered to be parked.
      maxSubscriberCount:
        type: integer
        format: int64
        description: The maximum number of TCP subscribers allowed.
      messageTimeoutMilliseconds:
        type: integer
        format: int64
        description: >-
          The amount of time after which to consider a message as timedout and
          retried.
      minCheckPointCount:
        type: integer
        format: int64
        description: The minimum number of messages to write to a checkpoint.
      namedConsumerStrategy:
        type: string
        description: The strategy to use for distributing events to client consumers.
        enum:
          - RoundRobin
          - DispatchToSingle
          - Pinned
    example:
      minCheckPointCount: 2
      startFrom: 0
      ResolveLinkTos: true
      readBatchSize: 5
      namedConsumerStrategy: RoundRobin
      extraStatistics: true
      maxRetryCount: 7
      liveBufferSize: 1
      messageTimeoutMilliseconds: 3
      maxCheckPointCount: 2
      maxSubscriberCount: 9
      checkPointAfterMilliseconds: 6
      bufferSize: 5
  Stats:
    properties:
      proc:
        type: object
        description: Stats on the currently active process.
        properties:
          startTime:
            type: string
            description: Time the associated process started.
          id:
            type: integer
            description: Id of the associated process.
          mem:
            type: integer
            description: Virtual memory used by the associated process.
          cpu:
            type: number
            description: CPU usage of the process.
          cpuScaled:
            type: number
            description: CPU usage of the process scaled by logical processor count.
          threadsCount:
            type: integer
            description: Number of threads used by process.
          contentionsRate:
            type: number
            description: >-
              The rate at which threads in the process attempt to acquire a
              managed lock unsuccessfully.
          thrownExceptionsRate:
            type: number
            description: Number of exceptions thrown per second.
          gc:
            type: object
            description: Stats on garbage collection.
            properties:
              allocationSpeed:
                type: number
                description: Memory allocation speed.
              gen0ItemsCount:
                type: number
                description: Number of generation 0 garbage collections.
              gen0Size:
                type: number
                description: Generation 0 heap size.
              gen1ItemsCount:
                type: number
                description: Number of generation 1 garbage collections.
              gen1Size:
                type: number
                description: Generation 1 heap size.
              gen2ItemsCount:
                type: number
                description: Number of generation 2 garbage collections.
              gen2Size:
                type: number
                description: Generation 2 heap size.
              largeHeapSize:
                type: number
                description: Large object heap size.
              timeInGc:
                type: number
                description: Percentage of time in garbage collection.
              totalBytesInHeaps:
                type: number
                description: Total bytes in all heaps.
          diskIo:
            type: object
            description: Disk input and output stats.
            properties:
              readBytes:
                type: number
                description: The number of bytes read by EventStoreDB since server start.
              writtenBytes:
                type: number
                description: The number of bytes written by EventStoreDB since server start.
              readOps:
                type: number
                description: The number of read operations by EventStoreDB since server start.
              writeOps:
                type: number
                description: The number of write operations by EventStoreDB since server start.
          tcp:
            type: object
            description: TCP connection stats.
            properties:
              connections:
                type: integer
                description: Number of TCP connections to EventStoreDB.
              receivingSpeed:
                type: string
                description: Receiving speed in bytes per second.
              sendingSpeed:
                type: number
                description: Sending speed in bytes per second.
              inSend:
                type: number
                description: >-
                  Number of bytes sent to connections but not yet acknowledged
                  by the receiving party.
              measureTime:
                type: number
                description: Time elapsed since last stats read.
              pendingReceived:
                type: number
                description: Number of bytes waiting to be received by connections.
              pendingSend:
                type: number
                description: Number of bytes waiting to be sent to connections.
              receivedBytesSinceLastRun:
                type: number
                description: Total bytes received by TCP connections since last run.
              receivedBytesTotal:
                type: number
                description: Total bytes received by TCP connections.
              sentBytesSinceLastRun:
                type: number
                description: Total bytes sent to TCP connections since last run.
              sentBytesTotal:
                type: number
                description: Total bytes sent from TCP connections.
      sys:
        type: object
        description: System usage stats.
        properties:
          cpu:
            type: number
            description: Total CPU usage in percentage.
          freeMem:
            type: number
            description: Free memory in bytes.
          drive:
            type: object
            description: Drive usage stats.
            properties:
              driveName:
                type: object
                description: Drive path.
                properties:
                  availableBytes:
                    type: number
                    description: Remaining bytes of space available to EventStoreDB.
                  totalBytes:
                    type: number
                    description: Total bytes of space available to EventStoreDB.
                  usage:
                    type: number
                    description: Percentage usage of space used by EventStoreDB.
                  usedBytes:
                    type: number
                    description: Total bytes of space used by EventStoreDB.
      es:
        type: object
        description: ""
        properties:
          checksum:
            type: number
            description: ""
          checksumNonFlushed:
            type: number
            description: ""
          queue:
            type: object
            description: Multiple queue instance stats
            properties:
              queueName:
                type: string
                description: Queue name.
              groupName:
                type: string
                description: Group queue is a member of.
              avgItemsPerSecond:
                type: integer
                description: The average number of items processed per second by the queue.
              avgProcessingTime:
                type: number
                description: Average number of items processed per second.
              currentIdleTime:
                type: string
                description: Time elapsed since queue went idle.
              currentItemProcessingTime:
                type: string
                description: Time elapsed processing the current item.
              idleTimePercent:
                type: number
                description: Percentage of time queue spent idle.
              length:
                type: integer
                description: Number of items in the queue.
              lengthCurrentTryPeak:
                type: number
                description: The highest number of items in the queue within the past 100ms.
              lengthLifetimePeak:
                type: number
                description: The highest number of items in the queue.
              totalItemsProcessed:
                type: number
                description: The total number of items processed by the queue.
              inProgressMessage:
                type: string
                description: Current message type queue is processing.
              lastProcessedMessage:
                type: string
                description: Last message type processed.
          writer:
            type: object
            description: Storage writing stats.
            properties:
              lastFlushSize:
                type: number
                description: Last flush size.
              lastFlushDelayMs:
                type: number
                description: Last flush delay in ms.
              meanFlushSize:
                type: number
                description: Average flush size.
              meanFlushDelayMs:
                type: number
                description: Average flush delay in ms.
              maxFlushSize:
                type: number
                description: Max flush size.
              maxFlushDelayMs:
                type: number
                description: Max flush delay in ms.
              queuedFlushMessages:
                type: integer
                description: Queued flush messages.
          readIndex:
            type: object
            description: ""
            properties:
              cachedRecord:
                type: number
                description: Number of cached record reads.
              notCachedRecord:
                type: number
                description: Number of uncached record reads.
              cachedStreamInfo:
                type: number
                description: ""
              notCachedStreamInfo:
                type: number
                description: ""
              cachedTransInfo:
                type: number
                description: ""
              notCachedTransInfo:
                type: number
                description: ""
              hashCollisions:
                type: number
                description: ""
tags:
  - name: Subscriptions
    description: Endpoints for Subscription operations.
  - name: Projections
    description: Endpoints for Projection operations.
  - name: Admin
    description: Endpoints for Admin operations.
  - name: Info
    description: Endpoints for Info operations.
  - name: Users
    description: Endpoints for User operations.
  - name: Stats
    description: Endpoints for Statistics operations.
    externalDocs:
      url: "http://docs.my-api.com/pet-operations.htm"
