name: Ubuntu LTS Container

on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"
  push:
    branches:
      - master
      - release/oss-v*
    tags:
      - oss-v*
    paths-ignore:
      - "docs/**"
      - "samples/**"
      - "**.md"

jobs:
  build:
    name: Build
    uses: ./.github/workflows/build-container-reusable.yml
    with:
      container-runtime: noble
      runtime: linux-x64
    secrets: inherit
